.custom-radio[data-v-76483a5d]{display:flex;align-items:flex-start;gap:.25rem}.custom-radio .v-radio[data-v-76483a5d]{margin-block-start:-.45rem}.custom-radio .cr-title[data-v-76483a5d]{font-weight:500;line-height:1.375rem}
